<h1 class="header">EAT-DA-BURGER!</h1>

<form class="container create-form">

	<label class="burger-input-name" for="newBurger">New Burger</label>
	<div>
		<input class="burger-input" type="text" id="newBurger" name="burger_name" placeholder="New burger name">
	</div>
	<button class="add-a-burger btn btn-primary btn-lg" type="submit">Add A Burger</button>
</form>
<div class="container">
	<p class="burger-area">Burgers:</p><hr>
	<table>
		{{#each burgers}} {{#unless devoured}} {{> burgers/burgers-block eaten = true}} {{/unless}} {{/each}}
	</table>
</div>
<div class="container">
	<p class="burger-area">Devoured Burgers:</p>
	<table>
		{{#each burgers}}
		<tr>
			{{#if devoured }}
			<td class="burgers-before">
				<span class="burger-before">
					{{burger_name}}
				</span>
			</td>
			{{/if}} {{/each}}
		</tr>
	</table>
</div>