<li class=" burgers-before">
	<span class="burger-name">
		{{burger_name}}
	</span>

	<button class="devoured btn btn-primary btn-lg" data-id="{{this.id}}" data-newdevouredstate="{{eaten}}">{{#if eaten}}Eat It?{{else}}{{/if}}</button>
</li>