<tr class=" burgers-before">
	<td class="burger-name">
		{{burger_name}}
	</td>
	<td>
		<button class="devoured btn btn-primary btn-lg" data-id="{{this.id}}" data-newdevouredstate="{{eaten}}">{{#if eaten}}Eat It?{{else}}{{/if}}</button>
	</td>
</tr>